{% extends "layout.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-12">
                <h1>Analysis for {{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- Form begin -->
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div class="form-group row">
                        {{ form.model.label(class="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {% if form.model.errors %}
                                {{ form.model(class="custom-select is-invalid") }}
                                <div class="invalid-feedback">
                                    <span>{{ form.model.errors|join(', ') }}</span>
                                </div>
                            {% else %}
                                {{ form.model(class="custom-select") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form.model_params.label(class="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {% if form.model_params.errors %}
                                {{ form.model_params(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    <span>{{ form.model_params.errors|join(', ') }}</span>
                                </div>
                            {% else %}
                                {{ form.model_params(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form.correction.label(class="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {% if form.correction.errors %}
                                {{ form.correction(class="custom-select is-invalid") }}
                                <div class="invalid-feedback">
                                    <span>{{ form.correction.errors|join(', ') }}</span>
                                </div>
                            {% else %}
                                {{ form.correction(class="custom-select") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form.output.label(class="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {% if form.output.errors %}
                                {{ form.output(class="custom-select is-invalid") }}
                                <div class="invalid-feedback">
                                    <span>{{ form.output.errors|join(', ') }}</span>
                                </div>
                            {% else %}
                                {{ form.output(class="custom-select") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            {{ form.submit(class="btn btn-primary") }}
                            <a class="btn btn-link" href="{{ url_for('home') }}">Back</a>
                        </div>
                    </div>

                </form>
                <!-- Form end -->

            </div>
        </div>
    </main>
{% endblock content %}