{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <p class="text-muted">Import the data and then select it from the table to begin analysis.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Loaded Data</h2>
        </div>

        <div class="col-sm-6">
            <div class="float-sm-right">

                <!-- Button that triggers modal for adding data -->
                <a class="btn btn-primary" href="{{ url_for('import_data') }}">
                    Import Dataset
                </a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dataset Name</th>
                    <th scope="col">Exposure Mode</th>
                    <th scope="col">Outlier Fraction</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>DIARAD</td>
                    <td>Exposure sum</td>
                    <td>0.0</td>
                    <td><a class="text-primary float-right" href="{{ url_for('analysis', dataset_id=1) }}">Select</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>PMVO6</td>
                    <td>Exposure sum</td>
                    <td>0.2</td>
                    <td><a class="text-primary float-right" href="{{ url_for('analysis', dataset_id=2) }}">Select</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>TIM</td>
                    <td>Exposure sum</td>
                    <td>0.01</td>
                    <td><a class="text-primary float-right" href="{{ url_for('analysis', dataset_id=3) }}">Select</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}