{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <p class="text-muted">Import the data and then select it from the table to begin analysis.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Loaded Data</h2>
        </div>

        <div class="col-sm-6">
            <div class="float-sm-right">

                <!-- Button that triggers modal for adding data -->
                <a type="button" class="btn btn-primary" href="{{ url_for('import_data') }}">
                    Import Dataset
                </a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dataset Name</th>
                    <th scope="col">Exposure Mode</th>
                    <th scope="col">Outlier Fraction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}